<main class="container">
  <!-- Contenedor principal que envuelve todo el formulario -->
  <div class="content-box">
    <!-- Formulario de registro de cliente con Angular -->
    <form id="register-form" (ngSubmit)="onSubmit()" autocomplete="off">
      <!-- Contenedor que agrupa los elementos del formulario -->
      <div class="register-container">           
          <!-- Título del formulario -->
          <h2>Registro de Cliente</h2>

          <!-- Campo de entrada para el nombre legal del cliente -->
          <div class="input-group">
            <input type="text" placeholder="Nombre Legal" [(ngModel)]="cliente.nombreLegal" name="nombreLegal" required>
          </div>
        
          <!-- Campo de entrada para el número de identificación -->
          <div class="input-group">
            <input type="text" placeholder="Numero de Identificacion" [(ngModel)]="cliente.numeroIdentificacion" name="numeroIdentificacion" required>
          </div>
        
          <!-- Campo de entrada para el número de teléfono -->
          <div class="input-group">
            <input type="text" placeholder="Número de Teléfono" [(ngModel)]="cliente.telefono" name="telefono" required>
          </div>

          <!-- Campo de entrada para la dirección -->
          <div class="input-group">
              <input type="text" placeholder="Dirección" [(ngModel)]="cliente.direccion" name="direccion" required>
          </div>

          <!-- Botón para enviar el formulario y registrar al cliente -->
          <button class="register-btn" type="submit">Registrar Cliente</button>
      </div>
    </form> 
  </div>
</main>
