<!DOCTYPE html>
<html>
    <!-- Barra de navegación superior -->
    <nav class="navbar navbar-top" role="navigation" aria-label="Navegación superior">
        <ul>
            <li>
                <!-- Enlace con imagen del logo de Speedorz -->
                <a href="#">
                    <img src="https://i.pinimg.com/736x/0a/30/0f/0a300f5c584983d878e8dc4c5dffcf18.jpg" 
                         alt="Logo Speedorz" 
                         class="logo">
                </a>
            </li>
        </ul>
    </nav>
    
    <body>
        <!-- Punto de anclaje para el enrutador, donde se cargarán dinámicamente los componentes -->
        <router-outlet></router-outlet>
    </body>
</html>
