
/*
 * This CSS class is used to center the content within its parent container.
 * It applies flexbox properties to achieve the desired layout.
 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*
 * This CSS class represents the main content box on the page.
 * It includes styling for background color, padding, box shadow, width, and layout properties.
 */
.content-box {
    background-color: white;
    padding: 5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    display: flex;
    margin-top: 70px;
    margin-bottom: 40px;
    flex-direction: column;
}

/*
 * This CSS rule targets the h2 elements within the content-box class.
 * It includes styling for bottom margin, border, padding, font size, text alignment, and color.
 */
.content-box h2 {
    margin-bottom: 1.7rem;
    border-bottom: 1.5px solid #b8b8b8;
    padding-bottom: 1.2rem;
    font-size: 2rem;
    text-align: justify;
    color: #555;
}

/*
 * This CSS class represents a card for displaying vehicle information.
 * It includes styling for background color, padding, margin, border radius, and text alignment.
 */
.vehicle-card {
    background-color: #f4f4f4;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    text-align: left;
}

/*
 * This CSS rule targets the h3 elements within the vehicle-card class.
 * It includes styling for bottom border, padding, margin, and color.
 */
.vehicle-card h3 {
    border-bottom: 1.5px solid #b8b8b8;
    padding-bottom: 0.7rem;
    margin-bottom: 15px;
    color: #555;
}

/*
 * This CSS rule targets the strong elements within the vehicle-card class.
 * It includes styling for bottom margin and color.
 */
.vehicle-card strong {
    margin-bottom: 10px;
    color: #555;
}

/*
 * This CSS rule targets the p elements within the vehicle-card class.
 * It includes styling for bottom margin and color.
 */
.vehicle-card p {
    margin-bottom: 10px;
    color: #838383;
}

/*
 * This CSS class represents a form container.
 * It includes styling for margin, padding, background color, border radius, and text alignment.
 */
.form-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #222;
    border-radius: 5px;
    text-align: left;
}

/*
 * This CSS rule targets the input elements within the form-container class.
 * It includes styling for width, padding, bottom margin, and border radius.
 */
.form-container input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/*
 * This CSS class represents the add button within the form container.
 * It includes styling for background color, color, border, padding, cursor, and border radius.
 */
.add-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
